table.print-compressed {
    table-layout: fixed;
    width: 620px;

    th, td {
      font-stretch: condensed;
      font-size: 8px !important;
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
    }
  }

@media screen {
  .box-centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .printonly {
    display: none;
  }
  
  .imagescreen + p {
    display: block !important;
  }
  
  .imageprint + p {
    display: none !important;
  }
  
  table.table-wrapper td {
    vertical-align: top !important;
  }
}

@page {
  margin: 30pt;
}

@media print {  
  .breadcrumb-nav, .site-header {
    display: none !important;
  }

  .print-none {
    display: none !important;
  }

  .box-centered {
    text-align: center;
  }

  h1 {
    font-size: 24px !important;
  }

  h2 {
    font-size: 18px !important;
  }

  h3 {
    font-size: 14px !important;
    margin-top: 0.5em !important;
  }

  h4 {
    font-size: 11px !important;
  }

  p, td, th {
    font-size: 10px !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0rem !important;
    line-height: 1rem !important;
  }
  
  li {
    font-size: 10px !important;
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    line-height: 1rem !important;
  }
  
  ul {
    margin-top: 0px !important;
  }

  .main-content ol > li::before {
    font-size: 10px !important;
    padding-left: 0px !important;
  }

  .text-small {
    font-size: 8px !important;
  }
  
  hr {
    display: none !important;
  }
  
 .text-small.text-grey-dk-100.mb-0 {
   display: none !important;
  }
 
 .text-small.text-grey-dk-100.mb-0.mr-2 {
   display: block !important;
  }
  
  .table-wrapper {
    margin-top: 0em !important;
    margin-bottom: 0em !important;
  }
  
  th, td {
    padding: 0rem !important;
  }
  
  .text-delta {
    display: none !important;
  }
  
  ul {
    display: none !important;
  }
  
  .printme + ul {
    display: block !important;
  }
  
  .printonly {
    display: block !important;
  }
  
  .imagescreen + p {
    display: none !important;
  }
  
  .imageprint + p {
    display: block !important;
  } 
}

table td a {
  white-space: normal !important;
}
